@page "/usuarios"
@inject UsuariosBusiness Business

<h3>Usuarios</h3>

<div class=" container">
    <div class="row">
        <div class="col-6">
            <a href="/usuarios/new">
                <button type="button" class="btn btn-success">Crear</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre </th>
                    <th>Apellido </th>
                    <th>NombreUsuario </th>
                    <th>Email </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Usuario usuario in usuarios)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nombre </td>
                        <td>@usuario.Apellido </td>
                        <td>@usuario.NombreUsuario </td>
                        <td>@usuario.Email </td>
                        <td>
                            <a href="/usuarios/@usuario.Id/Editar">Editar </a>
                        </td>
                        <td>
                            <button @onclick="@(() => EliminarUsuario(usuario.Id))" class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    private List<Usuario> usuarios = [];

    protected override void OnInitialized()
    {
        usuarios = Business.GetUsuarios();
    }
    private void EliminarUsuario(int id)
    {
        Business.DeleteUsuario(id);
        usuarios = Business.GetUsuarios();
    }
}
